
<!-- #include file="..\include\StdDemoHeader.html" -->

<p>Test the SampleValue properties of SimpleScriptObject1, ExtendedAdapter1 and ExtendedAdapter2 by modifying their
SampleValue properties in the object inspector while previewing the page.
<p>

<blockquote>

<p>SampleValue property of SimpleScriptObject: &nbsp;
<%= SimpleScriptObject1.SampleValue %>

<p>SampleValue property of SimpleScriptObject (after a function call): &nbsp;
<%
  SimpleScriptObject1.SetSampleValue(1234);
  Response.Write(SimpleScriptObject1.SampleValue);
%>

<p>SampleValue property of ExtendedAdapter1: &nbsp;
<%= ExtendedAdapter1.SampleValue %>
<p>SampleValue property of ExtendedDataSetAdapter1: &nbsp;
<%= ExtendedDataSetAdapter1.SampleValue %>
</blockquote>

<!-- #include file="..\include\StdDemoFooter.html" -->



